<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>

    <form action="{{ url_for('edit', id=usuario.id)}}" method="POST">
        
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" value="{{ usuario.nome }}">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" value="{{ usuario.email }}">
        <label for="email">Senha:</label>
        <input type="text" name="password" id="senha" value="{{ usuario.senha }}">
        <input type="submit" value="Editar">

    </form>
    
</body>
</html>