<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>

    <form action="{{ url_for('search') }}" method="POST">
        <input type="text" name="nome" placeholder="Digite o nome do usuário">
        <button type="submit">Pesquisar</button>
    </form>
    
    <br/>

    {{ mensagem }}
    
    <br/>

    <table border="1">
        <tr>
            <th>Nome do Usuário</th>
            <th>Email</th>
            <th>Ações</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>
                <button><a href="{{ url_for('edit', id=usuario.id)}}">Editar</a></button>
                <button><a href="{{ url_for('delete', id=usuario.id)}}">Excluir</a></button>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>